﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Skills</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body style="background-color:rgb(236,236,236)">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="row" style="color: rgb(64, 158, 209); border-bottom: 2px solid">
            <div class="col-md-3 text-right" >
                <a href="#" class="title-header"><i class="material-icons md-18">phone</i> 6 48 03 29</a>
            </div>
            <div class="col-md-2" >
                <a href="#" class="title-header"><i class="material-icons md-18">email</i> correo@correo.com</a>
            </div>
            <div class="col-md-3">
                <a href="#" class="title-header"><i class="material-icons md-18">room</i> Ave Manuel Gómez Morín No.8549-14</a>
            </div>
            <div class="col-md-4 text-center">
                <a href="#" class="title-header" style="margin-right:100px;"><i class="material-icons md-18">lock</i> Acceder</a>
            </div>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="~/Public/logo.png">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Home/Index" class="title-header-text">INICIO</a></li>
                    <li><a href="/Home/About" class="title-header-text">NOSOTROS</a></li>
                    <li><a href="/Home/Index" class="title-header-text">SERVICIOS</a></li>
                    <li><a href="/Jobs/Index" class="title-header-text">VACANTES</a></li>
                    <li><a href="/Home/Index" class="title-header-text">CONTACTO</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>

    </div>
    
    

    <div class="container-fluid body-content" style="margin-top:100px; ">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-4 text-right">

                    <a href="#" class="title-footer">&copy; @DateTime.Now.Year Skills Recruitment - All_rights_reserverd</a>
                </div>
                <div class="col-md-2 text-right">
                    <a href="#" class="title-footer" style="font-size:14px;"><i class="material-icons md-18">phone</i> 6 48 03 29</a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="title-footer" style="font-size:14px;"><i class="material-icons md-18">email</i> correo@correo.com</a>
                </div>
                <div class="col-md-3 text-center">
                    <img src="~/Public/facebook.png" /> ..    <img src="~/Public/twitter.png" />
                </div>
            </div>
      
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <style>
        .material-icons.md-18 { font-size:15px; color:  rgb(64, 158, 209); }
        .title-header{
            font-size:12px;
            color:black;
            font-family:"Roboto";
        }

             .title-footer{
            font-size:12px;
            color:white;
            font-family: "Roboto";
        }
        .title-header-text{
            font-size:12px;
            font-family: 'Roboto';
        
        }

        footer{
            background-color: #333;
            padding:30px;
        }
    </style>
</body>
</html>
