﻿
@{
    ViewBag.Title = "Index";
}

<div class="container" style="background-color: rgba(255, 255, 255,0.251);">
    <h2 class="vacantes">VACANTES DISPONIBLES</h2>
</div>
<br/>
<div class="container-fluid">
    <div class="row barraA" >
        <div class="col-md-4 text-right">
            <label for="inputEmail3" class="textB">Buscar</label>
            <input type="text" class="barraB" id="inputEmail3" >
        </div>
        <div class="col-md-4 text-center">
            <label for="inputEmail3" class="textB">Puesto</label>
            <input type="text" class="barraB" id="inputEmail3">
        </div>
        <div class="col-md-4 ">                        
             <label for="inputEmail3" class="textB">Empresa</label>                  
              <input type="text" class="barraB" id="inputEmail3">
        </div>
    </div>
</div>
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <table>
                <tr>
                    <th class="textC">CIUDAD JUAREZ 16 ENERO 2016</th>
                </tr>
                <tr style="border-bottom: 1px solid black">
                    <th class="textD">NOMBRE DE LA EMPRESA - NOMBRE DEL PUESTO</th>
                </tr>

                <tr>
                    <td class="textE">
                        Espacio para descripcion del puesto. Espacio para descripcion del puesto. Espacio para descripcion del puesto. Espacio para descripcion del puesto.
                        Espacio para descripcion del puesto. Espacio para descripcion del puesto. Espacio para descripcion del puesto.
                    </td>
                </tr>
                
            </table>
            <br />
            <table>
                <tr>
                    <th class="textC">CIUDAD JUAREZ 16 ENERO 2016</th>
                </tr>
                <tr style="border-bottom: 1px solid black">
                    <th class="textD">NOMBRE DE LA EMPRESA - NOMBRE DEL PUESTO</th>
                </tr>

                <tr>
                    <td class="textE">
                        Espacio para descripcion del puesto. Espacio para descripcion del puesto. Espacio para descripcion del puesto. Espacio para descripcion del puesto.
                        Espacio para descripcion del puesto. Espacio para descripcion del puesto. Espacio para descripcion del puesto.
                    </td>
                </tr>

            </table>
            <br />
            <table>
                <tr>
                    <th class="textC">CIUDAD JUAREZ 16 ENERO 2016</th>
                </tr>
                <tr style="border-bottom: 1px solid black">
                    <th class="textD">NOMBRE DE LA EMPRESA - NOMBRE DEL PUESTO</th>
                </tr>

                <tr>
                    <td class="textE">
                        Espacio para descripcion del puesto. Espacio para descripcion del puesto. Espacio para descripcion del puesto. Espacio para descripcion del puesto.
                        Espacio para descripcion del puesto. Espacio para descripcion del puesto. Espacio para descripcion del puesto.
                    </td>
                </tr>


            </table>
            <br />
            <table>
                <tr>
                    <th class="textC">CIUDAD JUAREZ 16 ENERO 2016</th>
                </tr>
                <tr style="border-bottom: 1px solid black">
                    <th class="textD">NOMBRE DE LA EMPRESA - NOMBRE DEL PUESTO</th>
                </tr>

                <tr>
                    <td class="textE">
                        Espacio para descripcion del puesto. Espacio para descripcion del puesto. Espacio para descripcion del puesto. Espacio para descripcion del puesto.
                        Espacio para descripcion del puesto. Espacio para descripcion del puesto. Espacio para descripcion del puesto.
                    </td>
                </tr>

            </table>
            <br/>
            <table>
                <tr>
                    <th class="textC">CIUDAD JUAREZ 16 ENERO 2016</th>
                </tr>
                <tr style="border-bottom: 1px solid black">
                    <th class="textD">NOMBRE DE LA EMPRESA - NOMBRE DEL PUESTO</th>
                </tr>

                <tr>
                    <td class="textE">
                        Espacio para descripcion del puesto. Espacio para descripcion del puesto. Espacio para descripcion del puesto. Espacio para descripcion del puesto.
                        Espacio para descripcion del puesto. Espacio para descripcion del puesto. Espacio para descripcion del puesto.
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>
<style>
    .vacantes {
        font-size: 24px;
        font-family: "Roboto";
        color: rgb(64,158,209);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 0.148;
    }

 .textB {
  font-size: 14px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  line-height: 1.468;
}

 .barraB{
      background-color: rgb(255,255,255);
      font-size: 14px;
  width: 201px;
  height: 15px;


 }

 .barraA{
  background-color: rgb(64,158,209);
  padding:7px;

}

 .textC {
  font-size: 10px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 0.356;
 
  text-align: left;
}
    .textD{
  font-size: 14px;
  font-family: "Roboto";
  color: rgb(64, 158, 209);
  text-transform: uppercase;
     
  text-align: left;

}

    .textE{
  font-size: 12px;
  font-family: "Roboto";
  color: rgb(71, 71, 71);
  line-height: 1.713;
  text-align: justify;
}

</style>