﻿@{
    ViewBag.Title = "About";
}
<div class="container" style="background-color: rgba(255, 255, 255,0.251);">
  <div class="row">
      <div class="col-md-12">
          <img src="~/Public/Nosotros.png" />
      </div>
  </div>
    <br />
    <div class="row">
        <div class="col-md-12 ">
            <p class="title-about">ACERCA DE NOSOTROS</p>
            <br/>
            <p class="quienes_somos">Quienes somos</p>
            <p class="textc">Somos una empresa que nace tras la necesidad de colaborar con las organizaciones de Cd. Juárez para lograr sus objetivos a través del capital humano. 
            Con un equipo de asociados con más de 40 años de experiencia en todas las áreas de Recursos humanos y operaciones dentro de la industria. 
            Buscamos ser una alternativa eficiente que apoye al Departamento De Recursos Humanos, enfocándonos principalmente en la selección correcta del personal. 
            Con SKILL RECRUITMET, el CLIENTE encuentra la flexibilidad para maximizar el Recurso Humano y minimizar esfuerzos y costos encontrando a la persona de Éxito para cada puesto de acuerdo al Perfil deseado, basándose en la Descripción, Perfil y Análisis del Puesto, todo en base al Perfil del Éxito.</p>
            <br/>
            <p class="quienes_somos">Mision</p>
            <p class="textc">
                Brindar de manera integral servicios y soluciones, con la aportación de la amplia experiencia y preparación de nuestro equipo de asociados, en todas las áreas de recursos humanos de la industria maquiladora.
            </p>
            <br/>
            <p class="quienes_somos">Vision</p>
            <p class="textc">
                Ser reconocidos por nuestros clientes como un aliado estratégico, garantizando que en virtud de nuestro enfoque en el proceso de selección, tendrá el personal idóneo para el puesto.
            </p>
        </div>
    </div>
</div>
<style>
    .title-about{
        font-size: 24px;
  font-family: "Roboto";
  color: rgb(64,158,209);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.148;
    }
    .quienes_somos{
         font-size: 12px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.296;
 
    }
    .textc{
         font-size: 14px;
  font-family: "Roboto";
  color: rgb(71, 71, 71);
  line-height: 1.468;
  text-align:justify;
 
    }
</style>