﻿@{
    ViewBag.Title = "Home Page";
}
<div class="container" style="background-color: rgba(255, 255, 255,0.251);">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Public/slider1.png" alt="...">
                <div class="carousel-caption">
                    ...
                </div>
            </div>
            <div class="item">
                <img src="~/Public/slider1.png" alt="...">
                <div class="carousel-caption">
                    ...
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span>
                <img src="~/Public/btn_izq_slider.png" />
            </span>

        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span>
                <img src="~/Public/btn_der_slider.png" />
            </span>
        </a>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="title">Skills Recruitment</h2>
            <br />
            <p style="font-size:14px;">
                Con SKILL RECRUITMET, el cliente encuentra la flexibilidad para maximizar el Recurso Humano y minimizar esfuerzos y costos encontrando a la persona de Éxito para cada puesto de acuerdo al Perfil deseado, basándose en la Descripción, Perfil y Análisis del Puesto, todo en base al Perfil del Éxito.
            </p>

        </div>

    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <a class="btn btn-primary btn-block" href="http://go.microsoft.com/fwlink/?LinkId=301865" style="font-size:14px;">VER MAS</a>
        </div>
    </div>
</div>
<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 textb text-center">
            Conoce las vacantes que tenemos para ti
        </div>
    </div>
</div>
<br/>
<div class="container" style="background-color: rgba(255, 255, 255,0.251);">
    <div class="row">
        <div class="col-md-12">
           <table class="table table-hover">
               <thead class="textc">
                   <tr>
                       <th>NOMBRE DE LA EMPRESA</th>
                       <th>PUESTO</th>
                       <th>LUGAR DE LA OFERTA</th>
                       <th>SUELDO MENSUAL</th>
                   </tr>
               </thead>
            <tbody class="textd">
                <tr>
                    <td>Empresa 1</td>
                    <td>Gerente 1</td>
                    <td>Lugar de la oferta</td>
                    <td>$10,000 MXN</td>
                </tr>
                <tr>
                    <td>Empresa 2</td>
                    <td>Gerente 2</td>
                    <td>Lugar de la oferta</td>
                    <td>$10,000 MXN</td>
                </tr>
                <tr>
                    <td>Empresa 3</td>
                    <td>Gerente 4</td>
                    <td>Lugar de la oferta</td>
                    <td>$10,000 MXN</td>
                </tr>
                <tr>
                    <td>Empresa 4</td>
                    <td>Gerente 4</td>
                    <td>Lugar de la oferta</td>
                    <td>$10,000 MXN</td>
                </tr>
            </tbody>
              

           </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <a class="btn btn-primary btn-block" href="http://go.microsoft.com/fwlink/?LinkId=301865" style="font-size:14px;">VER MAS</a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-3">
            <img src="~/Public/servicios1.png" alt="..." class="img-rounded">
        </div>
        <div class="col-md-3">
            <img src="~/Public/servicios2.png" alt="..." class="img-rounded">
        </div>
        <div class="col-md-3">
            <img src="~/Public/servicios3.png" alt="..." class="img-rounded">
        </div>
        <div class="col-md-3">
            <img src="~/Public/servicios4.png" alt="..." class="img-rounded">
        </div>
    </div>
</div>
<style>
    .carousel-control {
position: absolute;
top: 50%; /* pushes the icon in the middle of the height */
z-index: 5;
display: inline-block;
}
    h2.title{
         font-size: 36px;
  font-family:Roboto;
  color: rgb(64, 158, 209);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.099;
  
    }
    div.textb{
         font-size: 35px;
         font-family:"Roboto";
         background-color: rgb(64, 158, 209);
         color:white;
         padding:15px;
    }

    .textc{
         font-size: 14px;
  font-family: "Roboto";
  color: rgb(64,158,209);
  text-transform: uppercase;
  line-height: 0.254;
  text-align:center;
    }
    .textd{
        font-size: 14px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 0.254;
 
    }
</style>